.menu__item {
    display: flex;
    flex-direction: column;
    color: black;
}


h2 {
    color: deeppink;
    text-align: center;
    font-family: Qwitcher Grypen;
    font-size: 300%;
}

h3 {
    font-size: 120px;
}

h3 {
    text-align: center;
    color: rgb(55, 93, 93);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
}

body {
    background-image: url(https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg);
}

.welcome {
    width: 100%;
    background-color: #FFF5E4;
    margin-left: auto;
    margin-right: auto;

}

#menu {
    color: rgb(216, 24, 107);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-size: 300%;
}

.ice-cream {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

.socials {
    text-align: center;
    font-size: 120%;

}

.socials h2 {
    text-align: center;
    color: rgb(216, 24, 107);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#vanilla {
    width: 200px;
}

#chocolate {
    width: 200px;

}

#mint {
    width: 200px;
}

#strawberry {
    width: 200px;
}

#banana {
    width: 200px;
}

#photo {
    width:200px;
}